/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --mobile-min-height: 668px;
  --tablet-min-height: 1024px;
  --desktop-min-height: 768px;
  --corner-size: 25px;
  --menu-gap: 11px;
  --font-size: 18px;
  --line-height-headings: 82.5%;
  --line-height-menu: 18px;
  --line-height-text: 23.4px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --corner-color: #FF0070;
  --title-color: #DB00FF;
  --black: #000;
  --title-decor-color: #000028;
  --text-color: #F1B2CE;
  --xxs: 10px;
  --xs: 20px;
  --s: 40px;
  --m: 50px;
  --l: 60px;
  --xl: 70px;
}